Repository ben-cart3r/terraform-module-state-machine, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, terraform, documentation

.github/labeler.yml:

ci:
  - '.github/**'

build:
 - 'Makefile'

terraform:
  - '**/.tf'

documentation:
  - '*.md'

feat: add ability to construct state machine definition
  README.md
  main.tf
  outputs.tf
  variables.tf
Labels: documentation

feat: add ability to construct pass states
  states/pass/main.tf
  states/pass/outputs.tf
  states/pass/variables.tf
Labels: none

feat: add ability to construct pass states (#2)
  states/pass/main.tf
  states/pass/outputs.tf
  states/pass/variables.tf
Labels: none

feat: add ability to construct termination states
  states/fail/main.tf
  states/fail/outputs.tf
  states/fail/variables.tf
  states/succeed/outputs.tf
  states/succeed/variables.tf
Labels: none

feat: add ability to construct termination states (#3)
  states/fail/main.tf
  states/fail/outputs.tf
  states/fail/variables.tf
  states/succeed/outputs.tf
  states/succeed/variables.tf
Labels: none

feat: add ability to construct wait state
  states/wait/main.tf
  states/wait/outputs.tf
  states/wait/variables.tf
Labels: none

feat: add ability to construct wait state (#4)
  states/wait/main.tf
  states/wait/outputs.tf
  states/wait/variables.tf
Labels: none

feat: add ability to construct choice state
  states/choice/main.tf
  states/choice/outputs.tf
  states/choice/variables.tf
Labels: none

feat: add ability to construct choice state (#5)
  states/choice/main.tf
  states/choice/outputs.tf
  states/choice/variables.tf
Labels: none

feat: add ability to construct task state
  states/task/main.tf
  states/task/outputs.tf
  states/task/variables.tf
Labels: none

feat: add ability to construct task state (#6)
  states/task/main.tf
  states/task/outputs.tf
  states/task/variables.tf
Labels: none

feat: add ability to construct parallel state
  states/parallel/main.tf
  states/parallel/outputs.tf
  states/parallel/variables.tf
Labels: none

feat: add ability to construct parallel state (#7)
  states/parallel/main.tf
  states/parallel/outputs.tf
  states/parallel/variables.tf
Labels: none

feat: add ability to construct map state
  states/map/main.tf
  states/map/outputs.tf
  states/map/variables.tf
Labels: none

feat: add ability to construct map state (#8)
  states/map/main.tf
  states/map/outputs.tf
  states/map/variables.tf
Labels: none

bug: fix some typos and mistakes
  states/fail/main.tf
  states/pass/main.tf
  states/pass/variables.tf
  states/wait/main.tf
Labels: none

bug: fix some typos and mistakes (#9)
  states/fail/main.tf
  states/pass/main.tf
  states/pass/variables.tf
  states/wait/main.tf
Labels: none

feat: validate submodules in pre-commit and ci
  .github/workflows/reusable-static-analysis.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
Labels: ci, build, documentation

feat: fmt
  Makefile
Labels: build

feat: fmt
  Makefile
Labels: build

feat: fmt
  Makefile
Labels: build

feat: validate submodules in pre-commit and ci (#10)
  .github/workflows/reusable-static-analysis.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
Labels: ci, build, documentation

feat: document sub modules
  .pre-commit-config.yaml
  Makefile
  states/choice/README.md
  states/fail/README.md
  states/map/README.md
  states/parallel/README.md
  states/pass/README.md
  states/succeed/README.md
  states/task/README.md
  states/wait/README.md
Labels: build

feat: add headers to submodule docs
  states/choice/README.md
  states/fail/README.md
  states/map/README.md
  states/parallel/README.md
  states/pass/README.md
  states/succeed/README.md
  states/task/README.md
  states/wait/README.md
Labels: none

feat: document sub modules (#11)
  .pre-commit-config.yaml
  Makefile
  states/choice/README.md
  states/fail/README.md
  states/map/README.md
  states/parallel/README.md
  states/pass/README.md
  states/succeed/README.md
  states/task/README.md
  states/wait/README.md
Labels: build
